.heading {
    font-family: 'inter', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
}
.jumbotron {
    padding: 3rem;
    /* background-color: rgb(218, 226, 224); */
    border-radius: .3rem;
}